In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
import pandas as pd
import pyspark.sql.functions as fn
from pyspark.sql.functions import isnull, isnan
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Explore').getOrCreate()

In [3]:
age= spark.read.csv('age_gender_bkts.csv',header=True,inferSchema=True)
country= spark.read.csv('countries.csv',header=True,inferSchema=True)
session= spark.read.csv('sessions.csv',header=True,inferSchema=True)
train_users = spark.read.csv('train_users_2.csv',header=True,inferSchema=True)
#test_users = spark.read.csv('test_users.csv',header=True,inferSchema=True)
print("Session", session.count(), "Age_dataset,",age.count(),"Country,",country.count(), )
print("We have", train_users.count(), "users in the training set")
print("In total we have", train_users.count(), "users.")

Session 10436163 Age_dataset, 420 Country, 10
We have 213451 users in the training set
In total we have 213451 users.

In [4]:
age.printSchema()
age.select('country_destination').distinct().show()
age.select('age_bucket').distinct().show(21)
age.select('country_destination','population_in_thousands').describe().show()
age.groupBy('gender').sum().show()
age.groupBy('country_destination').sum().orderBy('sum(population_in_thousands)').show()
age.groupBy('age_bucket').sum().orderBy('sum(population_in_thousands)').show(21)

root
 |-- age_bucket: string (nullable = true)
 |-- country_destination: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- population_in_thousands: integer (nullable = true)
 |-- year: integer (nullable = true)

+-------------------+
|country_destination|
+-------------------+
|                 NL|
|                 PT|
|                 AU|
|                 CA|
|                 GB|
|                 DE|
|                 ES|
|                 US|
|                 FR|
|                 IT|
+-------------------+

+----------+
|age_bucket|
+----------+
|       5-9|
|     20-24|
|     85-89|
|     65-69|
|      100+|
|     80-84|
|     75-79|
|     95-99|
|     30-34|
|     90-94|
|     70-74|
|     15-19|
|     10-14|
|     50-54|
|     35-39|
|     45-49|
|     25-29|
|       0-4|
|     40-44|
|     55-59|
|     60-64|
+----------+

+-------+-------------------+-----------------------+
|summary|country_destination|population_in_thousands|
+-------+-------------------+-----------------------+
|  count|                420|                    420|
|   mean|               null|     1743.1333333333334|
| stddev|               null|     2509.8432020043756|
|    min|                 AU|                      0|
|    max|                 US|                  11601|
+-------+-------------------+-----------------------+

+------+----------------------------+---------+
|gender|sum(population_in_thousands)|sum(year)|
+------+----------------------------+---------+
|female|                      372207|   423150|
|  male|                      359909|   423150|
+------+----------------------------+---------+

+-------------------+----------------------------+---------+
|country_destination|sum(population_in_thousands)|sum(year)|
+-------------------+----------------------------+---------+
|                 PT|                       10609|    84630|
|                 NL|                       16848|    84630|
|                 AU|                       23923|    84630|
|                 CA|                       35871|    84630|
|                 ES|                       47203|    84630|
|                 IT|                       61145|    84630|
|                 GB|                       63840|    84630|
|                 FR|                       64983|    84630|
|                 DE|                       82562|    84630|
|                 US|                      325132|    84630|
+-------------------+----------------------------+---------+

+----------+----------------------------+---------+
|age_bucket|sum(population_in_thousands)|sum(year)|
+----------+----------------------------+---------+
|      100+|                         175|    40300|
|     95-99|                        1083|    40300|
|     90-94|                        4951|    40300|
|     85-89|                       10962|    40300|
|     80-84|                       17081|    40300|
|     75-79|                       23704|    40300|
|     70-74|                       29286|    40300|
|     65-69|                       38196|    40300|
|     10-14|                       42244|    40300|
|       5-9|                       42477|    40300|
|       0-4|                       42786|    40300|
|     15-19|                       43347|    40300|
|     60-64|                       43427|    40300|
|     20-24|                       46083|    40300|
|     35-39|                       47254|    40300|
|     25-29|                       47721|    40300|
|     30-34|                       48408|    40300|
|     55-59|                       48882|    40300|
|     40-44|                       49170|    40300|
|     45-49|                       51864|    40300|
|     50-54|                       53015|    40300|
+----------+----------------------------+---------+

In [5]:
age.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
age_bucket,420,None,None,0-4,95-99
country_destination,420,None,None,AU,US
gender,420,None,None,female,male
population_in_thousands,420,1743.1333333333334,2509.8432020043756,0,11601
year,420,2015.0,0.0,2015,2015

In [7]:
country.printSchema()
country.select('country_destination','destination_language ').show()
country.select('country_destination','language_levenshtein_distance','destination_language ').orderBy('language_levenshtein_distance').show()
country.select('country_destination','distance_km','destination_km2').orderBy('distance_km').show()

root
 |-- country_destination: string (nullable = true)
 |-- lat_destination: double (nullable = true)
 |-- lng_destination: double (nullable = true)
 |-- distance_km: double (nullable = true)
 |-- destination_km2: double (nullable = true)
 |-- destination_language : string (nullable = true)
 |-- language_levenshtein_distance: double (nullable = true)

+-------------------+---------------------+
|country_destination|destination_language |
+-------------------+---------------------+
|                 AU|                  eng|
|                 CA|                  eng|
|                 DE|                  deu|
|                 ES|                  spa|
|                 FR|                  fra|
|                 GB|                  eng|
|                 IT|                  ita|
|                 NL|                  nld|
|                 PT|                  por|
|                 US|                  eng|
+-------------------+---------------------+

+-------------------+-----------------------------+---------------------+
|country_destination|language_levenshtein_distance|destination_language |
+-------------------+-----------------------------+---------------------+
|                 GB|                          0.0|                  eng|
|                 US|                          0.0|                  eng|
|                 AU|                          0.0|                  eng|
|                 CA|                          0.0|                  eng|
|                 NL|                        63.22|                  nld|
|                 DE|                        72.61|                  deu|
|                 IT|                         89.4|                  ita|
|                 FR|                        92.06|                  fra|
|                 ES|                        92.25|                  spa|
|                 PT|                        95.45|                  por|
+-------------------+-----------------------------+---------------------+

+-------------------+-----------+---------------+
|country_destination|distance_km|destination_km2|
+-------------------+-----------+---------------+
|                 US|        0.0|      9826675.0|
|                 CA|  2828.1333|      9984670.0|
|                 GB|   6883.659|       243610.0|
|                 PT|  7355.2534|        92090.0|
|                 NL|  7524.3203|        41543.0|
|                 FR|   7682.945|       643801.0|
|                 ES|   7730.724|       505370.0|
|                 DE|   7879.568|       357022.0|
|                 IT|   8636.631|       301340.0|
|                 AU|  15297.744|      7741220.0|
+-------------------+-----------+---------------+

In [8]:
country.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
country_destination,10,None,None,AU,US
lat_destination,10,39.799398000000004,24.739112449608466,-26.853388,62.393303
lng_destination,10,-4.2624458899999995,63.7005845497413,-96.818146,133.27516
distance_km,10,7181.897800000001,3941.1417335184483,0.0,15297.744
destination_km2,10,2973734.1,4329619.177088737,41543.0,9984670.0
destination_language,10,None,None,deu,spa
language_levenshtein_distance,10,50.49900000000001,44.541689697530686,0.0,95.45

In [9]:
session.printSchema()
session.dtypes
session.select('action').distinct().show()
session.select('action_type').distinct().show()
session.select('action_detail').distinct().show()
session.select('device_type').distinct().show()

root
 |-- user_id: string (nullable = true)
 |-- action: string (nullable = true)
 |-- action_type: string (nullable = true)
 |-- action_detail: string (nullable = true)
 |-- device_type: string (nullable = true)
 |-- secs_elapsed: double (nullable = true)

+--------------------+
|              action|
+--------------------+
|              travel|
|            uptodate|
|guest_billing_rec...|
| phone_number_widget|
| calendar_tab_inner2|
|       special_offer|
|         profile_pic|
|           countries|
|change_default_pa...|
|            tos_2014|
|   ajax_photo_widget|
|ajax_google_trans...|
|           show_code|
|                  15|
|weibo_signup_refe...|
|travel_plans_current|
|       tell_a_friend|
|   edit_verification|
|         qt_reply_v2|
| request_photography|
+--------------------+
only showing top 20 rows

+----------------+
|     action_type|
+----------------+
| booking_request|
|            null|
|          modify|
|          submit|
|            view|
|            data|
|             cli|
|           click|
|partner_callback|
|booking_response|
|       -unknown-|
|    message_post|
+----------------+

+--------------------+
|       action_detail|
+--------------------+
|          login_page|
|         oauth_login|
|account_transacti...|
|   view_reservations|
|            tos_2014|
|     list_your_space|
|   friends_wishlists|
|       user_listings|
|post_checkout_action|
|       at_checkpoint|
|        send_message|
|     forgot_password|
|      user_tax_forms|
|      view_locations|
|              photos|
|request_new_confi...|
|   host_refund_guest|
|wishlist_content_...|
|      user_languages|
|  coupon_field_focus|
+--------------------+
only showing top 20 rows

+--------------------+
|         device_type|
+--------------------+
|           iPodtouch|
|              iPhone|
|                null|
|         Opera Phone|
|     Windows Desktop|
|       Linux Desktop|
|       Android Phone|
|         Mac Desktop|
|Android App Unkno...|
|         iPad Tablet|
|          Blackberry|
|       Windows Phone|
|           -unknown-|
|              Tablet|
|          Chromebook|
+--------------------+

In [11]:
train_users.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
id,213451,None,None,00023iyk9l,zzzlylp57e
timestamp_first_active,213451,2.0130850417367457E13,9.253717046788992E9,20090319043255,20140630235824
gender,213451,None,None,-unknown-,OTHER
age,125461,49.66833517985669,155.66661183021571,1.0,2014.0
signup_method,213451,None,None,basic,google
signup_flow,213451,3.2673868944160485,7.63770686943505,0,25
language,213451,None,None,ca,zh
affiliate_channel,213451,None,None,api,seo
affiliate_provider,213451,None,None,baidu,yandex
first_affiliate_tracked,207386,None,None,linked,untracked
signup_app,213451,None,None,Android,iOS
first_device_type,213451,None,None,Android Phone,iPhone
first_browser,213451,None,None,-unknown-,wOSBrowser
country_destination,213451,None,None,AU,other

In [58]:
train_users.groupBy('country_destination').count().orderBy('count').show()
train_users.groupBy('language').count().orderBy('count').show(30)
train_users.groupBy('gender').count().orderBy('count').show()
train_users.groupBy('signup_app').count().orderBy('count').show()
train_users.groupBy('first_affiliate_tracked').count().orderBy('count').show()

+-------------------+------+
|country_destination| count|
+-------------------+------+
|                 PT|   217|
|                 AU|   539|
|                 NL|   762|
|                 DE|  1061|
|                 CA|  1428|
|                 ES|  2249|
|                 GB|  2324|
|                 IT|  2835|
|                 FR|  5023|
|              other| 10094|
|                 US| 62376|
|                NDF|124543|
+-------------------+------+

+--------+------+
|language| count|
+--------+------+
|      hr|     2|
|      ca|     5|
|      is|     5|
|      fi|    14|
|      hu|    18|
|      id|    22|
|      th|    24|
|      el|    24|
|      no|    30|
|      cs|    32|
|      pl|    54|
|      da|    58|
|      tr|    64|
|      nl|    97|
|      sv|   122|
|      ja|   225|
|      pt|   240|
|      ru|   389|
|      it|   514|
|      de|   732|
|      ko|   747|
|      es|   915|
|      fr|  1172|
|      zh|  1632|
|      en|206314|
+--------+------+

+---------+-----+
|   gender|count|
+---------+-----+
|    OTHER|  282|
|     MALE|54440|
|   FEMALE|63041|
|-unknown-|95688|
+---------+-----+

+----------+------+
|signup_app| count|
+----------+------+
|   Android|  5454|
|     Moweb|  6261|
|       iOS| 19019|
|       Web|182717|
+----------+------+

To check the missing value!

In [12]:

country_pd=country.toPandas()
country_pd.isnull().sum()

country_destination              0
lat_destination                  0
lng_destination                  0
distance_km                      0
destination_km2                  0
destination_language             0
language_levenshtein_distance    0
dtype: int64

In [13]:
age_pd=age.toPandas()
age_pd.isnull().sum()

age_bucket                 0
country_destination        0
gender                     0
population_in_thousands    0
year                       0
dtype: int64

In [3]:

session.agg(*[(1-(fn.count(c) /fn.count('*'))).alias(c+'_missing') for c in session.columns]).describe().toPandas().transpose()

+--------------------+--------------------+-------------------+---------------------+--------------------+--------------------+
|     user_id_missing|      action_missing|action_type_missing|action_detail_missing| device_type_missing|secs_elapsed_missing|
+--------------------+--------------------+-------------------+---------------------+--------------------+--------------------+
|0.003229922721597...|0.007560441514759764|0.10691410243400756|  0.10691419825466508|9.582065740865175E-8|0.012862390133231871|
+--------------------+--------------------+-------------------+---------------------+--------------------+--------------------+

In [4]:
#test_users.agg(*[(1-(fn.count(c) /fn.count('*'))).alias(c+'_missing') for c in test_users.columns]).show()
train_users.agg(*[(1-(fn.count(c) /fn.count('*'))).alias(c+'_missing') for c in train_users.columns]).show()

+----------+----------------------------+------------------------------+--------------------------+--------------+------------------+---------------------+-------------------+----------------+-------------------------+--------------------------+-------------------------------+------------------+-------------------------+---------------------+
|id_missing|date_account_created_missing|timestamp_first_active_missing|date_first_booking_missing|gender_missing|       age_missing|signup_method_missing|signup_flow_missing|language_missing|affiliate_channel_missing|affiliate_provider_missing|first_affiliate_tracked_missing|signup_app_missing|first_device_type_missing|first_browser_missing|
+----------+----------------------------+------------------------------+--------------------------+--------------+------------------+---------------------+-------------------+----------------+-------------------------+--------------------------+-------------------------------+------------------+-------------------------+---------------------+
|       0.0|                         0.0|                           0.0|                       1.0|           0.0|0.4650219015717598|                  0.0|                0.0|             0.0|                      0.0|                       0.0|           3.220819376449357...|               0.0|                      0.0|                  0.0|
+----------+----------------------------+------------------------------+--------------------------+--------------+------------------+---------------------+-------------------+----------------+-------------------------+--------------------------+-------------------------------+------------------+-------------------------+---------------------+